# ===== ENV =====
.env
.env.*
!.env.example

# ===== NODE / NEXT.JS =====
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/npm-debug.log*
frontend/yarn-error.log*

# ===== GO =====
bin/
*.exe
*.out
*.test
*.log

# ===== DATABASE =====
postgres_data/

# ===== DOCKER =====
*.pid
docker-compose.override.yml

# ===== OS / EDITOR =====
.DS_Store
.idea/
.vscode/
