# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Database URL
# Local
DATABASE_URL=postgres://<user>:<password>@localhost:<port>/<db>?sslmode=disable
# Docker
# DATABASE_URL=postgres://<user>:<password>@db:<port>/<db>?sslmode=disable
# Prod
# DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRY_HOURS=

BACKEND_PORT=
